{% extends 'base.html.twig' %}

{% form_theme emergency 'forms/theme.html.twig' %}
{% form_theme map 'forms/theme.html.twig' %}
{% form_theme upload 'forms/theme.html.twig' %}
{% form_theme logout 'forms/theme.html.twig' %}


{% block title %}RUNIVPM Dashboard{{ controller_name }}!{% endblock %}

{% block body %}

    <div class="container center-div offset-4 pagination-centered">
        <h1 class="text-danger">RUNIVPM Dashboard</h1>
        <div class="col-4">
            {{ form_start(emergency) }}
            {{ form_widget(emergency) }}
            {{ form_end(emergency) }}
        </div>
        <div class="col-4">
            {{ form_start(map) }}
            {{ form_widget(map) }}
            {{ form_end(map) }}
        </div >
        <div class="col-4">
            {{ form_start(upload) }}
            {{ form_widget(upload) }}
            {{ form_end(upload) }}
        </div>
        <div class="col-4">
            {{ form_start(logout) }}
            {{ form_widget(logout) }}
            {{ form_end(logout) }}
        </div>
    </div>

{% endblock %}
